<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Login_registration_j2ee</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServelet</display-name>
    <servlet-name>RegistrationServelet</servlet-name>
    <servlet-class>Registration.RegistrationServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServelet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>Registration.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServelet</display-name>
    <servlet-name>LogoutServelet</servlet-name>
    <servlet-class>Registration.LogoutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServelet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generatePdf</display-name>
    <servlet-name>generatePdf</servlet-name>
    <servlet-class>Registration.generatePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generatePdf</servlet-name>
    <url-pattern>/generatePdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginGoogleHandler</display-name>
    <servlet-name>LoginGoogleHandler</servlet-name>
    <servlet-class>LoginGoogle.LoginGoogleHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGoogleHandler</servlet-name>
    <url-pattern>/LoginGoogleHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>Registration.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOtp</display-name>
    <servlet-name>ValidateOtp</servlet-name>
    <servlet-class>Registration.ValidateOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOtp</servlet-name>
    <url-pattern>/ValidateOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPassword</display-name>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>Registration.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/NewPassword</url-pattern>
  </servlet-mapping>
</web-app>